<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>
    <header>
        <div class="header-container">
            <a href="Inicio.html">
                <img src="img/logo2.jpeg" class="logo" width="100">
            </a>
            <input type="text" placeholder="Busca tu producto" class="search-bar">
            <div class="user-info">
                <img src="img/peru.jpeg" alt="Perú" class="flag" width="60">
                <span>ES/ PEN</span>
                <a style="text-decoration: none;" href="perfil.html" class="a">
                    <span>¡Hola, Josue!</span>
                </a>
                <a href="carrito.html">
                    <img src="img/carr.jpeg" alt="Perú" class="flag" width="60" height="50">
                </a>

            </div>
        </div>
        <nav style="background: black;" class="navbar navbar-expand-lg ">
            <div class="container-fluid row d-block">
                <div class="col-12">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a style="color: white;" class="nav-link active" aria-current="page" href="Inicio.html">Inicio</a>
                              </li>
                            <li class="nav-item">
                                <a style="color: white;" class="nav-link active" aria-current="page"
                                    href="calzado.html">Calzados</a>
                            </li>
                            <li class="nav-item">
                                <a style="color: white;" class="nav-link" href="mejoresmarcas.html">Mejores Marcas

                                </a>
                            </li>
                            <li class="nav-item">
                                <a style="color: white;" class="nav-link active" aria-current="page" href="modahombre.html">Moda
                                    Hombre</a>
                            </li>
                            <li class="nav-item">
                                <a style="color: white;" class="nav-link active" aria-current="page"
                                    href="electronica.html">Electronica</a>
                            </li>
                            <li class="nav-item">
                                <a style="color: white;" class="nav-link active" aria-current="page"
                                    href="contacto.html">Contactanos</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a style="color: white;" class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Más
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>


            </div>
        </nav>
    </header>
    <section style="background-color:white;">
        <div class="container py-5">
            <div class="row">
                <div style="box-shadow: 3px 3px 20px 3px black; top: 20px;" class="col-lg-4">
                    <div class="card mb-4">
                        <div style=" background-color: white;" class="card-body text-center">
                            <img src="https://i.pinimg.com/564x/78/4b/a3/784ba3fb679c5cd663c8d730da754247.jpg"
                                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">Josue Gomez</h5>
                            <p class="text-muted mb-1">Estudiante</p>
                            <p class="text-muted mb-4">Huanta - Ayacucho</p>
                            <div class="d-flex justify-content-center mb-2">
                                <button type="button" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-primary">Sigueme</button>
                                <a href="https://www.facebook.com/jhosue.gomezccochachi" type="button" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-outline-primary ms-1">Mensaje</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div style="background-color: white;" class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Nombre Completo:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Josue Gomez</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">josuegomezc21@gmail.com</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Telefono</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">76542634</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Celular</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">+51 938 916 254</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Dirección</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Av. San Martin 1556</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <div id="footer" class="col-12" style="background: #EEF1F2; height: 200px; height: auto; margin-top: 200px;">
        <footer id="footer" style="margin-top: 50px;">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div style="margin-left: 200px;" class="col-lg-3 col-md-6 footer-content">
                            <h3>Moda</h3>
                            <p>Lo mejor de la moda y al mejor precio</p>
                            <p>
                                Hombre <br>
                                Mujer <br>
                                Niños <br>
                            </p>
                            <strong><i class="fas fa-phone"></i> Telefono: <strong>956896596</strong></strong><br>
                            <strong><i class="fa-solid fa-envelope"></i> Email:
                                <strong>josuegomezc21@gmail.com</strong></strong>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Enlaces útiles</h4>
                            <ul>
                                <li><a style="text-decoration: none;" href="index.html">Calzados</a></li>
                                <li><a style="text-decoration: none;" href="about.html">Moda Mujeres</a></li>
                                <li><a style="text-decoration: none;" href="contacto.html">Contacto</a></li>
                                <li><a style="text-decoration: none;" href="carrito.html">Carrito</a></li>
                                <li><a style="text-decoration: none;" href="#">Politica y Privacidad</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Nuestros servicios
                            </h4>
                            <p>Todos nuestros servicios a tu disposición</p>
                            <ul>
                                <li><a style="text-decoration: none;" href="#">Telefono</a></li>
                                <li><a style="text-decoration: none;" href="#">Reloj</a></li>
                                <li><a style="text-decoration: none;" href="#">Electrodomesticos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</html>